{% import "_includes/forms" as forms %}

{% set errors = settings.getErrors() %}

{% if sites|length > 0 %}
    {% for site in sites %}
        <h2>{{ 'Settings for {site}'|t('gtag', {site:site.name}) }}</h2>

        {{ forms.autosuggestField({
            label: 'Measurement ID'|t('gtag'),
            instructions: 'Example : UA-123456789-1. Entering no value here will disable gtags'|t('gtag'),
            name: 'measurementId['~site.uid~']',
            value: settings.getMeasurementId(site),
            suggestEnvVars: true
            }) 
        }}

        {{ forms.lightswitch({
            label: 'Only in production mode'|t('gtag'),
            name: 'onlyProduction['~site.uid~']',
            on: settings.getOnlyProduction(site),
            })
        }}
    {% endfor %}
{% else %}
    <p>{{ 'Add a site before changing these settings'|t('gtag') }}
{% endif %}